
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

        * {
            margin: 0;
            padding: 0;
        }

        html {
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
        }

        body {
           width: 100vw;
           max-width: 100vw;
        }

        h1 {
            font-size: 22px;
            color: blue;
            text-align: center;
            margin: 16px 0;
        }          
        
        /* Header */

        .opcoes {
            display: flex;
            justify-content: center;
        }


        .botao-menu {
            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 16px;

            background: #fff;
            border-radius: 8px;
            padding: 2px 16px;

            border: 1px solid blue;

            margin-right: 8px;

            cursor: pointer;
            transition: all 300ms;
        }

        .botao-menu a {
            color: #333;
            text-decoration: none;
            font-weight: bold;
        }

        .botao-menu:hover {
            background: blue;
        }

        .botao-menu:hover a {
            color: #fff;
        }

        .botao-menu img {
            width: 30px;
            height: 30px;
            margin-right: 4px;
        } 


        /* Cadastro pessoas */

        .cadastro-pessoas {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            padding-top: 8px;
            margin: 0 auto;
            
            width: 70%;
        }

        .campo {
            padding: 8px;
        }

        .campo input {
            height: 24px;
            margin-left: 16px;
            padding: 0 8px;
            border-radius: 16px;
            border: 1px solid #333;
        }

        /* Relatorio pessoas */

        .body-relatorio {
            padding: 8px 0;
        }

        .body-relatorio h1 {
            margin: 16px 0;
        }

        .tabela {
            width: 100%;
            transition: all 300ms ease;
            border: 1px solid #333;
            border-collapse: collapse;
        }

        .tabela caption {
            font-size: 22px;
            color: #2937ff;
            margin: 8px 0;
            font-weight: bold;
        }

        .tabela, th, td {
            border: 1px solid #333;
        }

        .tabela thead tr {
            border-bottom: 1px solid #333;
        }

        .tabela tfoot tr {
            border-top: 1px solid #333;
            padding: 8px;
        }

        .tabela thead tr th {
            padding: 8px;
        }

        .tabela tr td {
            padding: 8px;
        }

        .tabela thead tr:hover {
            background: #2937ff;
            color: #fff;
        }

        .tabela tbody tr:hover {
            background: #c1c1c1;
        }

        .tabela tfoot tr:hover {
            background: #19e029;
        }